/* CSS RESET UNTIL LINE 48 */
/* ----------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







body{
    background: black;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* title style */
.title {
    text-align: center;
}

.title h1 {
    color: #808080;
    font-size: 4rem;
    padding-bottom: 15px;
    font-family: 'Kaisei Tokumin', serif;
}

.title h3 {
    color: #aaa;
    font-size: 2.5rem;
    padding-bottom: 15px;
    font-family: 'Cormorant Unicase', serif;
}



/* loginForm style */
.loginForm {
    display: flex;
    justify-content: center;
}

.loginForm input {
    background: #808080;
    color: black;
    font-family: 'Kaisei Tokumin', serif;
}

.loginForm input::placeholder {
    color: black;
    font-family: 'Kaisei Tokumin', serif;
}

h4 {
    text-align: center;
    color: #aaa;
    font-size: 2.5rem;
    padding-bottom: 15px;
    font-family: 'Cormorant Unicase', serif;
    padding-bottom: 5px;
}

.signUpButton {
    background: #808080;
    color: black;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
}

a:link {
    color: black;
    font-family: 'Kaisei Tokumin', serif;

}
a:visited {
    color: #040404;
    font-family: 'Kaisei Tokumin', serif;

}

.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

.links {
    border: 1px solid white;
}